{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h1 class="text-center" id="main-heading">Admin Panel</h1>
    <hr class="col-6">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-12" id="form-styling">
                {% for contact in contacts %}
                    <p>Contact Reason: {{contact.contact_reason}}</p>
                    <p>Name: {{ contact.name }}</p>
                    <p>Email: {{ contact.email }}</p>
                    <p>Comments: {{contact.comments }}</p>
                    <hr>
                {% endfor %}
            <div>
        </div>
    </main>
{% endblock %}