{% extends "base.html" %}
{% load static %}

{% block content %}

    <main class="container" id="chat_container">
        {% if banned_status %}
            <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <h2 class="text-center">BANNED</h2>
                    <p class="text-center main-text">{{ request.user }} you have been banned from the chat rooms.<br>
                    If you believe this is a mistake, please contact us via the 
                    <a class="anchors" href="{% url 'contact' %}">Contact</a> page
                    and select the 'Breach Of TOS' contact reason.
                    </p>
                </div>
            </div>
        {% else %}
            {% if channel == 'general' %}
                {% include 'includes/channels/general_chat.html' %}
            {% elif channel == 'sports' %}
                {% include 'includes/channels/sports_chat.html' %}
            {% endif %}
        {% endif %}
    </main>
    
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function()
{
    $("#chat_messages").scrollTop($("#chat_messages")[0].scrollHeight);
    
    function refresh()
    {
        var div = $('#chat_messages'),
            divHtml = div.html();

        div.html(divHtml);

        $("#chat_messages").scrollTop($("#chat_messages")[0].scrollHeight);
    }

    setInterval(function()
    {
        refresh()
    }, 5000); // 5 secs
})
</script>
{% endblock %}