{% extends "base.html" %}
{% load static %}

{% block content %}

    <main class="container" id="chat_container">
        {% if channel == 'general' %}
            {% include 'includes/channels/general_chat.html' %}
        {% elif channel == 'sports' %}
            {% include 'includes/channels/sports_chat.html' %}
        {% endif %}
    </main>
    
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function()
{
    $("#chat_messages").scrollTop($("#chat_messages")[0].scrollHeight);
    
    function refresh()
    {
        var div = $('#chat_messages'),
            divHtml = div.html();

        div.html(divHtml);

        $("#chat_messages").scrollTop($("#chat_messages")[0].scrollHeight);
    }

    setInterval(function()
    {
        refresh()
    }, 5000); // 5 secs
})
</script>
{% endblock %}