{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h1 class="text-center" id="main-heading">Welcome to Chat To The Mat!</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <p class="text-center" id="main-text">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt eleifend quam in aliquam. Mauris
            lobortis massa velit, eu elementum dolor maximus lobortis. Nam urna ligula, dignissim non vulputate eget, ultrices sed nunc. 
            Fusce venenatis
            sem quis diam ornare,
            in elementum felis pulvinar. In hac habitasse platea dictumst. Pellentesque quis velit suscipit, fringilla augue
            vitae, accumsan quam.
            Vivamus massa est, ullamcorper quis magna a, blandit vestibulum sapien. Nam rhoncus turpis non massa ultrices, ut
            scelerisque risus facilisis.
            Vivamus imperdiet quis massa ac rhoncus. Quisque aliquet hendrerit fringilla. Phasellus consequat consequat dapibus.

            Fusce non quam sit amet velit condimentum suscipit. Phasellus ac imperdiet odio. Mauris sodales mollis augue, vitae
            suscipit sem tristique et.
            Nulla facilisi. Aenean interdum venenatis mattis. Nulla consequat tempor pellentesque. Suspendisse lacus ante,
            sollicitudin viverra leo id,
            lobortis faucibus eros. Pellentesque malesuada nunc at diam finibus, non eleifend justo dignissim. Etiam blandit
            rutrum felis. Mauris sit amet
            tristique nisi, vitae congue nisl.

            Vivamus magna ligula, sollicitudin elementum augue non, pellentesque elementum metus. Maecenas suscipit dignissim
            ex, ut tempus magna euismod
            ut. Etiam sodales nunc est, rutrum iaculis libero suscipit eu. Sed eu ornare ligula. Praesent dapibus sem et turpis
            imperdiet, eget placerat
            orci tristique. Aliquam ut ultricies enim. Integer efficitur tortor diam, non tincidunt lacus accumsan at. Nulla
            facilisi. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin scelerisque rutrum quam, ut tempus
            ligula tincidunt id.

            Morbi quis elit id arcu aliquam pulvinar. Mauris sollicitudin aliquam nibh eu gravida. Integer bibendum odio id mi
            venenatis porta in non est.
            Donec commodo vulputate elit quis sollicitudin. In nec pharetra nisi, ac tincidunt nunc. Aenean fermentum ipsum quis
            leo fermentum facilisis.
            Proin elementum ut dui non ornare. Duis molestie tristique malesuada. Vestibulum scelerisque ullamcorper elit, sed
            venenatis tellus tincidunt vel.

            Praesent vehicula eu lorem a mattis. In sagittis turpis quis odio pretium condimentum. Morbi tempor non lorem ut
            tempus. Morbi laoreet pharetra
            tellus id vulputate. Pellentesque a felis sit amet quam iaculis consequat. Suspendisse sit amet elementum augue.
            Nulla et lacinia libero. In nisi
            libero, facilisis vel nisl id, aliquet malesuada mauris. Nam facilisis rhoncus dui, in scelerisque libero semper ut.
            Donec lobortis id justo eget
            elementum. Donec porta magna blandit, lacinia nunc a, dignissim sem. Integer laoreet orci eu quam porta, eu sagittis
            lorem volutpat. Donec in
            lectus ante. Pellentesque aliquet lectus augue.
        </p>
    </div>
{% endblock %}