{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h1 class="text-center" id="main-heading">Chat To The Mat</h1>
    <hr class="col-6">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-sm-12 col-md-10">
                <p class="main-text text-justify">
                    Chat to the Mat is an online chat service that was created during Covid-19 as a means to build meaningful online 
                    friendships in a time where our normal social interactions has suffered because of the pandemic. Maybe you just 
                    want some general chit-chat? To find a new hobby? To find a long-term penpal? Our chat rooms are full of possibilities.
                </p>

                <p class="main-text text-justify">
                    If you are serious about making new friends, engaging in great conversations with a diverse group of people. Why 
                    not give our chat rooms a try? Are you ready to get your chat on? 
                    <a class="anchors" href="{% url 'account_signup' %}">Sign up here.</a>
                </p>
            </div>
            <hr class="col-6">

            <div class="col-sm-12 col-md-10">
                <h2 class="text-center">Our Promise To You</h2>
                <p class="main-text text-justify">
                    We promise to do everything we can to ensure a friendly user experience and atmosphere, this includes ensuring that 
                    all members verify via email before they can use our site and agreeing to our terms of service. Any members who are 
                    found to be breaking our terms of service will be banned without warning. If you are a victim of any kind of bullying,
                    harrassment or racism, contact us immediately and it will be addressed as soon as possible. Our staff moderate all 
                    channels but sometimes messages can slip through the cracks, if you witness any behaviour against the terms of service,
                    just use the contact form provided and our staff will resolve the issue as quickly as possible.
                </p>
            </div>
            <hr class="col-6">

            <div class="col-sm-12 col-md-10">
                <h2 class="text-center">Premium Subscription Services</h2>
                <p class="main-text text-justify">
                    With our Gold Subscription Plan you can gain access to our Gold Chat rooms, an area only available to our 
                    premium members. This will grant you access to 5+ new chat rooms, unlock private messaging so you can have one 
                    on one chats with other premium members, as well as customising your own personal profile photo to stand out from 
                    the rest! 
                </p>
                <br>
                <p class="text-center main-text">SUBSCRIPTION SALE NOW ON! All this for ONLY €4.99 a year.</p>
            </div>
        </div>
    </div>
{% endblock %}