{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h1 class="text-center" id="main-heading">TERMS AND CONDITIONS</h1>
{% endblock %}

{% block content %}
<main class="container">
    <div class="row no-gutters">
        <!-- Terms and conditions -->
        <div class="col-sm-12 col-lg-10 offset-lg-1" id="form-styling">
            <p class="main-text">
                Last updated: 2021-01-31<br>
                1. Introduction<br>
                Welcome to Chat To The Mat (“Company”, “we”, “our”, “us”)!
                These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at
                chat-to-the-mat.herokuapp.com (together or individually “Service”) operated by Chat To The Mat.
                Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and
                disclose information that results from your use of our web pages.
                Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that
                you have read and understood Agreements, and agree to be bound of them.
                If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but
                please let us know by emailing at daisy.e.j.mcg@gmail.com so we can try to find a solution. These Terms
                apply to all visitors, users and others who wish to access or use Service.
            </p>
            <hr>
            <p class="main-text">
                2. Communications<br>
                We do not send marketing emails but will return contact if you initiate contact via email or from our
                ‘Contact’ page.
            </p>
            <hr>
            <p class="main-text">
                3. Purchases<br>
                If you wish to purchase any product or service made available through Service (“Purchase”), you may be
                asked to supply certain information relevant to your Purchase including but not limited to, your credit
                or debit card number, the expiration date of your card, your billing address, and your shipping
                information.
                You represent and warrant that: (i) you have the legal right to use any card(s) or other payment
                method(s) in connection with any Purchase; and that (ii) the information you supply to us is true,
                correct and complete.
                We may employ the use of third party services for the purpose of facilitating payment and the completion
                of Purchases. By submitting your information, you grant us the right to provide the information to these
                third parties subject to our Privacy Policy.
                We reserve the right to refuse or cancel your order at any time for reasons including but not limited
                to: product or service availability, errors in the description or price of the product or service, error
                in your order or other reasons.
                We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction
                is suspected.
            </p>
            <hr>
            <p class="main-text">
                4. Fee Changes<br>
                Chat To The Mat, in its sole discretion and at any time, may modify Subscription fees for the
                Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing
                Cycle.
                Chat To The Mat will provide you with a reasonable prior notice of any change in Subscription fees to
                give you an opportunity to terminate your Subscription before such change becomes effective.
                Your continued use of Service after Subscription fee change comes into effect constitutes your agreement
                to pay the modified Subscription fee amount.
            </p>
            <hr>
            <p class="main-text">
                5. Refunds<br>
                We do not offer refunds on yearly subscriptions.
            </p>
            <hr>
            <p class="main-text">
                6. Prohibited Uses<br>
                You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:
                <br>
                In any way that violates any applicable national or international law or regulation.<br>
                For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing
                them to inappropriate content or otherwise.<br>
                To transmit, or procure the sending of, any advertising or promotional material, including any “junk
                mail”, “chain letter,” “spam,” or any other similar solicitation.<br>
                To impersonate or attempt to impersonate Company, a Company employee, another user, or any other person
                or entity.<br>
                In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent,
                or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.<br>
                To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or
                which, as determined by us, may harm or offend Company or users of Service or expose them to liability.<br>
                Additionally, you agree not to:<br>
                Use Service in any manner that could disable, overburden, damage, or impair Service or interfere with
                any other party’s use of Service, including their ability to engage in real time activities through
                Service.<br>
                Use any robot, spider, or other automatic device, process, or means to access Service for any purpose,
                including monitoring or copying any of the material on Service.<br>
                Use any manual process to monitor or copy any of the material on Service or for any other unauthorized
                purpose without our prior written consent.<br>
                Use any device, software, or routine that interferes with the proper working of Service.<br>
                Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or
                technologically harmful.<br>
                Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the
                server on which Service is stored, or any server, computer, or database connected to Service.<br>
                Attack Service via a denial-of-service attack or a distributed denial-of-service attack.<br>
                Take any action that may damage or falsify Company rating.<br>
                Otherwise attempt to interfere with the proper working of Service.
            </p>
            <hr>
            <p class="main-text">
                7. Error Reporting and Feedback<br>
                You may provide us either directly at daisy.e.j.mcg@gmail.com or via third party sites and tools with
                information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints,
                and other matters related to our Service (“Feedback”). You acknowledge and agree that: (i) you shall not
                retain, acquire or assert any intellectual property right or other right, title or interest in or to the
                Feedback; (ii) Company may have development ideas similar to the Feedback; (iii) Feedback does not
                contain confidential information or proprietary information from you or any third party; and (iv)
                Company is not under any obligation of confidentiality with respect to the Feedback. In the event the
                transfer of the ownership to the Feedback is not possible due to applicable mandatory laws, you grant
                Company and its affiliates an exclusive, transferable, irrevocable, free-of-charge, sub-licensable,
                unlimited and perpetual right to use (including copy, modify, create derivative works, publish,
                distribute and commercialize) Feedback in any manner and for any purpose.
            </p>
            <hr>
            <p class="main-text">
                8. Termination<br>
                We may terminate or suspend your account and bar access to Service immediately, without prior notice or
                liability, under our sole discretion, for any reason whatsoever and without limitation, including but
                not limited to a breach of Terms.
                If you wish to terminate your account, you may simply discontinue using Service or use the Delete
                Account button on your personal profile page.
                All provisions of Terms which by their nature should survive termination shall survive termination,
                including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
                liability.
            </p>
            <hr>
            <p class="main-text">
                9. Changes To Service<br>
                We reserve the right to withdraw or amend our Service, and any service or material we provide via
                Service, in our sole discretion without notice. We will not be liable if for any reason all or any part
                of Service is unavailable at any time or for any period. From time to time, we may restrict access to
                some parts of Service, or the entire Service, to users, including registered users.
            </p>
            <hr>
            <p class="main-text">
                10. Amendments To Terms<br>
                We may amend Terms at any time by posting the amended terms on this site. It is your responsibility to
                review these Terms periodically.
                Your continued use of the Platform following the posting of revised Terms means that you accept and
                agree to the changes. You are expected to check this page frequently so you are aware of any changes, as
                they are binding on you.
                By continuing to access or use our Service after any revisions become effective, you agree to be bound
                by the revised terms. If you do not agree to the new terms, you are no longer authorized to use Service.
            </p>
            <hr>
            <p class="main-text">
                11. Acknowledgement<br>
                BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF
                SERVICE AND AGREE TO BE BOUND BY THEM.<br>
                12. Contact Us<br>
                Please send your feedback, comments, requests for technical support by email:
                daisy.e.j.mcg@gmail.com.<br>
                These Terms of Service were created for chat-to-the-mat.herokuapp.com by PolicyMaker.io on 2021-01-31.
            </p>
        </div>
    </div>
</main>
{% endblock %}
