{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h1 class="text-center" id="main-heading">Profile</h1>
    <hr class="col-6">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row no-gutters">
            <!-- Display Users Profile Information -->
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <h2 class="text-center">{{ user_profile.user.username }}</h2>
            </div>

            <div class="col-s-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="form-styling">
                <h3>Name: </h3>
                <p class="main-text">{{ user_profile.name }}</p>
                <hr>
                <h3>Location: </h3>
                <p class="main-text">{{ user_profile.location }}</p>
                <hr>
                <h3>Bio: </h3>
                <p class="main-text">{{ user_profile.bio }}</p>
                <!-- Edit Profile and Delete Profile displays if user is looking at their own profile -->
                {% if request.user.username == user %}
                    <hr>
                    <div class="text-center">
                        {% if user.is_superuser %}
                            <button class="submit-btn"><a href="{% url 'admin_panel' %}" class="anchors">Admin Panel</a></button>
                        {% endif %}
                        <button class="submit-btn"><a href="{% url 'edit_profile' request.user.username %}" class="anchors">Edit Profile</a></button>
                        <!-- Button trigger modal -->
                        <button type="button" class="submit-btn" data-toggle="modal" data-target="#delete_modal">
                            <a class="anchors">Delete Profile</a>
                        </button>
                    </div>
                {% endif %}
            </div>

            <!-- Modal -->
            <div class="modal" id="delete_modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_label">Warning</h5>
                        <button type="button" class="close link-danger" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                        This action is permanent. Are you sure you want to delete your account?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button type="button" class="close text-danger">
                            <a href="{% url 'delete_profile' %}" class="anchors">Delete Account<a>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}