{% extends "base.html" %}
{% load static %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block page_header %}
    <h1 class="text-center" id="main-heading">{{ user_profile.user.username }}</h1>
    <hr class="col-6">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row no-gutters">
            <!-- Display Users Profile Information -->
            <div class="col-s-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="form-styling">
                <div class="text-center">
                    {% if user_profile.img_url %}
                        <img src="{{ user_profile.img_url }}" id="profile-img" alt="User Profile Pic">
                    {% else %}
                        <img src="{{ MEDIA_URL }}default_pic.png" id="default-image" alt="Default Profile Pic">
                    {% endif %}
                </div>
                <h3>Name: </h3>
                <p class="main-text">{{ user_profile.name }}</p>
                <hr>
                <h3>Location: </h3>
                <p class="main-text">{{ user_profile.location }}</p>
                <hr>
                <h3>Bio: </h3>
                <p class="main-text">{{ user_profile.bio }}</p>
                <!-- Edit Profile and Delete Profile displays if user is looking at their own profile -->
                {% if request.user.username == user %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center">
                            {% if request.user.is_superuser %}
                                <a href="{% url 'admin_panel' %}" class="anchors submit-btn px-2">Admin Panel</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-md-4 text-center">
                            <a href="{% url 'edit_profile' request.user.username %}" class="anchors submit-btn px-2">Edit Profile</a>
                        </div>
                            <!-- Button trigger modal -->
                        <div class="col-sm-12 col-md-4 text-center">
                            <a class="submit-btn anchors px-2" data-toggle="modal" data-target="#delete_modal">
                                Delete Profile
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- Modal -->
            <div class="modal" id="delete_modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_label">Warning</h5>
                            <button type="button" class="close link-danger" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-danger">
                            This action is permanent. Are you sure you want to delete your account?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <a href="{% url 'delete_profile' request.user.username %}" class="close text-danger anchors">Delete Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}