{% extends "base.html" %}
{% load static %}

{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <h1 class="text-center" id="main-heading">Checkout</h1>
    <hr class="col-6">
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center" id="form-styling">
                <h3>Premium Subscription</h3>
                <p class="main-text">Subscription length: 1 Year<br>
                    Recurring charge: No<br>
                    Access to Gold Chat Rooms
                    Private messaging<br>
                    Custom profile pic uploads
                </p>
                <button type="submit" class="btn btn-warning" id="submitBtn">Buy Premium</button>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}