@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto&display=swap');

* {
    font-size: 10px;
}

body {
    background-color: rgb(27, 27, 27);
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
}

#main-heading {
    font-size: 4rem;
    margin-top: 1rem;
    background: -webkit-linear-gradient(#c80000, #c88f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-text {
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
}