@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto&display=swap');

* {
    font-size: 10px;
}

/* Generic CSS */

body {
    background-color: rgb(27, 27, 27);
    font-family: "Roboto", sans-serif;
    color: rgb(238, 238, 238);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    color:rgb(255, 145, 77);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#main-heading {
    font-size: 3rem;
    margin-top: 1rem;
}

a.anchors {
    text-decoration: none;
    color:rgb(255, 145, 77);
    font-size: 1.5rem;
}

a.anchors:hover {
    text-decoration: underline;
    color:rgb(226, 112, 41);
}

.main-text {
    font-size: 1.5rem;
    color: rgb(238, 238, 238);
}

main.container {
    margin-bottom: 5rem;
}

/* Navigation */

header {
    background-color: rgb(53, 53, 53);
}

#logo {
    height: 100px;
    width: 200px;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: rgb(255, 145, 77);
}

span.navbar-toggler-icon {
    height: 3rem;
    width: 3rem;
}

/* Footer */

footer {
    background-color: rgb(53, 53, 53);
    color:rgb(238, 238, 238);
    bottom: 0;
    width: 100%;
    flex: 1;
    position: fixed;
}

footer,p {
    font-size: 1.25rem;
    margin: 0;
    padding: 5px 0 5px 0;
}

/* Forms */

label {
    color:rgb(238, 238, 238);
    font-size: 1.5rem;
}

.submit-btn {
    color:  rgb(255, 145, 77);
    background-color: rgb(238, 238, 238);
    font-weight: bolder;
}

#form-styling {
    padding: 1rem;
    margin-top: 1rem;
    background: #353535;
    border-radius: 5px;  
}

/* Toasts */
.message-container {
    position: fixed;
    top: 153px;
    right: 15px;
    z-index: 999999999;
}

.custom-tost {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Chat Rooms */
#chat_messages {
    overflow-y: scroll;
    height: 60vh;
}

.chat-date {
    font-size: 1rem;
}

.chat-text {
    font-size: 1.5rem;
    padding: 0;
}

.username {
    color: rgb(255, 145, 77)
}

/* Media Queries */

@media only screen and (min-width: 370px) {
    #main-heading {
        font-size: 4rem;
        margin-top: 1rem;
    }

    span.navbar-toggler-icon {
        height: 4rem;
        width: 4rem;
    }
}

@media only screen and (max-width: 768px) and (min-width: 575px) {
    #nav-styling {
        min-width: 100vw;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
}