{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h1 class="text-center" id="main-heading">Contact Us</h1>
{% endblock %}

{% block content %}

    <div class="row no-gutters">
        <!-- Form Information --> 
        <div class="col-10 offset-1 col-md-6 offset-md-3">

        </div>

        <!-- Contact Form --> 
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <form method="POST" action="{% url 'contact' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field | as_crispy_field }}
                {% endfor %}
                <div class="text-center">
                    <button class="btn rounded-0 submit-btn" type="submit">Submit</button>
                </div>
             </form>
        </div>
    </div>
{% endblock %}