{% block page_header %}
    <h1 class="text-center" id="main-heading">General Chat</h1>
{% endblock %}

<div class="row" id="form-styling">
    <div class="col-12">
        {% for chat in chat %}
            <p>{{ chat.time }}</p> 
            <p class="main-text">{{ chat.user.username }}: {{ chat.message }}</p>
            <hr>
        {% endfor %}
        <form method="POST" action="{% url 'chat_room' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <input type="hidden" id="{{ request.user.username }}" name="{{ request.user.id }}" value="{{ request.user.username }}"> 
            </div>
            <div class="text-left">
                <input type="text" id="message" name="message">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>